[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-import-export = "*"
django-admin-actions = "*"
psycopg2-binary = "*"
django-filter = "*"
django-redis = "*"
shared = "*"
python-dotenv = "*"
celery = "*"
celery-types = "*"
redis = "*"
gunicorn = "*"
drf-spectacular = "*"

[dev-packages]
black = "==25.1.0"
django-stubs = { version = "==5.2.1", extras = ["compatible-mypy"] }
djangorestframework-stubs = { version = "==3.16.0", extras = ["compatible-mypy"] }
isort = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-cov = "*"
pre-commit = "*"
mypy = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "==2.11.7"
httpx = "==0.28.1"
celery-types = "==0.23.0" # Worker
flake8 = "*"

[requires]
python_version = "3.12"
